#parent-container {
  width: auto;
  height: auto;
}
#header {
  padding: 200px;
  padding-left: 400px;
  padding-right: 400px;
  text-align: center;
  color: white;
  font-size: 20px;
  background-image: linear-gradient(rgb(121, 121, 121, 0.4), rgb(121, 121, 121, 0.4)), url("assets/clay-inside.JPG");
  background-repeat: no-repeat;
  background-size: 100%;
  /* display: inline-block; */
}
#about, #significance {
  padding: 20px;
  background-color: white;
  line-height: 30px;
  display: inline-block;
  width: auto;
  height: auto;
}
#header {
  width:auto; height: auto;
  display: inline-block;
}
#about h2, #significance h2, #stats h2, #header h1 {
  text-align: center;
  text-transform: uppercase;
}
#about img {
  padding: 40px;
  width: 300px;
  height: 200px;
  border-radius: 50%;
}
#gallery {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  height: auto;
}
.profile {
  text-align: center;
  width: auto;
  height: auto;
  /* padding: 20px; */
}
#card-container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: auto;
  height: auto;
}
.card {
  padding: 10px;
  margin: 20px;
  height: 300px;
  width: 300px;
  text-align: center;
}
.card img {
  height: 200px;
  width: 200px;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  width: auto;
  height: auto;
}
